<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="../static/css/uikit.min.css">
<link rel="stylesheet" href="../static/css/uikit.gradient.min.css">
<link rel="stylesheet" href="../static/css/my.css">
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/sha1.min.js"></script>
<script src="../static/js/uikit.min.js"></script>
<script src="../static/js/sticky.min.js"></script>
<script src="../static/js/vue.min.js"></script>
<style type="text/css">
.ul3_class {
        margin:0px;
        padding:0px;
}

.ul3_class li {
        line-height:35px;
        text-align:left;
        list-style-type:none;
        font-size:13px;
}

.ul3_class li:hover {
        color:green;
}
</style>

</head>
<body>
	<div style="margin:50px">
		<div class="uk-grid" data-uk-grid-match="{row: false}" style="border:1px solid #DDDDDD">
			<div class="uk-width-1-2">
				<img class="uk-width-1-1" src="../static/src/test.png">
			</div>
			<div class="uk-width-1-2">
				<div class="">手把手教你玩转PS</div>
				<div class=""><i class="uk-icon-user"></i> 234</div>
				<div class="">讲师：author</div>
				<div class="">免费</div>
				<div class="">
					<button class="uk-button-primary">立即参加</button>
				</div>
			</div>
		</div>
		
		<div align:"left" style="border:1px solid #DDDDDD;margin-top:30px;margin-bottom:30px;line-height:100px">
			<span>完成进度:30%</span>
			<span  style="float:right;text-align-center">
				<a href="/video">开始学习</a>
			</span>
		</div>

		<div class="uk-grid">
			<div class="uk-width-2-3">
				<div style="border:1px solid #DDDDDD">
					<h3>简介:<h3>
					<span>
					这里有60多份简历的样本的深入分析，有多位Offer大神的智慧结晶。讲解了标准美式简历的撰写规范和学生经历的挖掘，并融入找实习、找工作的技巧精华。只要2小时，给你一份战无不胜的求职简历！课程PPT和文中使用的简历模板Word版在附件中可直接下载哦~
					<span>
				</div>
				<div style="border:1px solid #DDDDDD; margin-top:20px;">
					<h3>目录</h3>
					<ul class="ul3_class">
						<li>课时1<li>
						<li>课时2<li>
						<li>课时3<li>
						<li>课时4<li>
						<li>课时5<li>
					</ul>
				</div>
			</div>
			<div class="uk-width-1-3">
				<div style="border:1px solid #DDDDDD">
					<h3>评价</h3>
					<ul class="ul3_class">
						<li>感觉还不错啊<li>
						<li>感觉还不错啊<li>
						<li>感觉还不错啊<li>
						<li>感觉还不错啊<li>
						<li>感觉还不错啊<li>
						<li>感觉还不错啊<li>
						<li>查看更多<li>
					</ul>
				</div>
				<div style="border:1px solid #DDDDDD;margin-top:20px">
					<h3>122人也在学这个课程</h3>
					<div class="uk-grid" style="margin-left:0px">
                                		<a class="uk-thumbnail uk-width-1-4" href="">
                                		<img src="../static/src/test.png" alt="">
                                		<div class="uk-thumbnail-caption" style="text-align:left">
                                        	<div class="font_price">小星</div>
						</div>
						</a>
                                		<a class="uk-thumbnail uk-width-1-4" href="">
                                		<img src="../static/src/test.png" alt="">
                                		<div class="uk-thumbnail-caption" style="text-align:left">
                                        	<div class="font_price">小星</div>
						</div>
						</a>
                                		<a class="uk-thumbnail uk-width-1-4" href="">
                                		<img src="../static/src/test.png" alt="">
                                		<div class="uk-thumbnail-caption" style="text-align:left">
                                        	<div class="font_price">小星</div>
						</div>
						</a>
                                		<a class="uk-thumbnail uk-width-1-4" href="">
                                		<img src="../static/src/test.png" alt="">
                                		<div class="uk-thumbnail-caption" style="text-align:left">
                                        	<div class="font_price">小星</div>
						</div>
						</a>
                                		<a class="uk-thumbnail uk-width-1-4" href="">
                                		<img src="../static/src/test.png" alt="">
                                		<div class="uk-thumbnail-caption" style="text-align:left">
                                        	<div class="font_price">小星</div>
						</div>
						</a>
                                		<a class="uk-thumbnail uk-width-1-4" href="">
                                		<img src="../static/src/test.png" alt="">
                                		<div class="uk-thumbnail-caption" style="text-align:left">
                                        	<div class="font_price">小星</div>
						</div>
						</a>
					</div>
                                </div>
				<div>
			</div>
		</div>
	</div>
</body>
</html>
