<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="../static/css/uikit.min.css">
<link rel="stylesheet" href="../static/css/uikit.gradient.min.css">
<link rel="stylesheet" href="../static/css/my.css">
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/sha1.min.js"></script>
<script src="../static/js/uikit.min.js"></script>
<script src="../static/js/sticky.min.js"></script>
<script src="../static/js/vue.min.js"></script>
<script src="../static/js/my.js"></script>
<script>
var video_type = '{{video_type}}';
var sub_video_type = '{{sub_video_type}}';
function initVM(data) {
	var vm = new Vue({
		el: '#vm',
		data: {
			videos: data.videos,
			video_type : data.video_type,
			sub_video_type : data.sub_video_type,
			all_video_type : data.all_video_type,
			all_sub_type : data.all_sub_type,
		},
		methods: {

		}
	});
};

$(function() {
    getJSON('/api/lesson', {
        page: '1',
	video_type : '{{video_type}}',
	sub_video_type : '{{sub_video_type}}'
    }, function (err, results) {
        if (err) {
            return fatal(err);
        }
        //$('#loading').hide();
        initVM(results);
    });
});

</script>
</head>
<style type="text/css">
.ul2_class {
        margin:0px;
        padding:0px;
	background-color:#DDDDDD     
}

.ul2_class li {
        line-height:35px;
        text-align:left;
        list-style-type:none;
        font-size:13px;
}

.ul2_class li:hover {
        color:green;
}
</style>
<body>
	<div id="vm" style="margin:50px">
	  <div style="margin-bottom:30px">
		<ul class="font_title uk-tab" data-uk-tab="" 
		data-uk-switcher="{connect:'#subnav-pill-content-1'}">
			<li aria-expanded="true" v-repeat="type : all_video_type"  
			v-attr="class: type.video_type==video_type?'uk-active':''">
				<a href="#" v-text=type.video_type_text></a>
			</li>
		</ul>

		<ul id="subnav-pill-content-1" class="uk-switcher" style="padding:20px;margin-top:-5px;border:1px solid #DDDDDD;
		border-top:none">
                                <li v-repeat="type : all_video_type" v-attr="aria-hidden: type.video_type == video_type?'false':'true',
				class: type.video_type==video_type?'uk-active':''">
					<ul class="uk-breadcrumb">
    						<li v-repeat="s_type : all_sub_type[type.video_type]" 
						v-attr="class: s_type.sub_video_type==sub_video_type?'uk-active':''">
							<a v-attr="href:'/lesson/'+type.video_type+','+s_type.sub_video_type,
							style:'display:'+(s_type.sub_video_type==sub_video_type?'none':'dd')"  
							v-text=s_type.sub_video_type_text></a>
							<span v-text=s_type.sub_video_type_text 
							v-attr="style:'display:'+(s_type.sub_video_type==sub_video_type?'dd':'none')"><span>
						</li>
					</ul>
				</li>
                </ul>
	  </div>
	<!--这里还要提供一些排序方式-->
	<div class="uk-grid">	
		<div class="uk-width-3-4">
			<div class="uk-grid uk-grid-medium" style="margin-left:0px;">
                        	<a class="uk-thumbnail uk-width-1-4" v-repeat="video : videos"  v-attr="href:'/video/'+video.id">
                                <img v-attr="src:video.pic_path" alt="">
                                <div class="uk-thumbnail-caption" style="text-align:left">
                                	<div class="font_desc" v-text=video.name></div>
                                	<div class="font_author" v-text=video.user_id></div>
					<div class="font_author" v-text=video.people_num><i class="uk-icon-user"></i></div>
                                	<div class="font_price" v-text=video.price></div>
                                </div>
                       		</a>
                	</div>
		</div>
		
		<div class="uk-width-1-4">
			<div>
				<h3>系列课程</h3>
				<ul class="ul2_class">
					<li>五步拿下名企offer</li>
					<li>学office办公技能</li>
					<li>手把手教你理财</li>
					<li>最热门的Execl入门教程</li>
					<li>更多<i class="uk-icon-chevron-right"></i></li>
				</ul>
			<div>
			<div style="margin-top:40px">
				<ul class="uk-breadcrumb">
					<li class="uk-active"><a href="">付费排行</a></li>
					<li><a href="">免费排行</a></li>
				</ul>
				<ul class="ul2_class">
					<li>五步拿下名企offer</li>
					<li>五步拿下名企offer</li>
					<li>五步拿下名企offer</li>
					<li>学office办公技能</li>
					<li>手把手教你理财</li>
					<li>学office办公技能</li>
					<li>手把手教你理财</li>
					<li>学office办公技能</li>
					<li>手把手教你理财</li>
					<li>最热门的Execl入门教程</li>
					<li>更多<i class="uk-icon-chevron-right"></i></li>
				</ul>
			<div>
		</div>
	</div>
    </div>
</body>
</html>
