{% extends '__personal_base__.html' %}

{% block title %}创建学习计划{% endblock %}

{% block script %}
<script>
var
    ID = '{{ id }}',
    action = '{{ action }}';
function initVM(plane) {
    var vm = new Vue({
        el: '#vm',
        data: plane,
        methods: {
            submit: function (event) {
                alert('d');
                event.preventDefault();
                var $form = $('#vm').find('form');
                alert('ddd');
                $form.postJSON(action, this.$data, function (err, r) {
                    alert('did');
                    if (err) {
                        $form.showFormError(err);
                    }
                    else {
                        return location.assign('/personal_study_plane_view/' + r.id);
                    }
                });
            }
        }
    });
    $('#vm').show();
}
$(function () {
    if (ID) {
        getJSON('/personal_get_study_plane_edit/' + ID, function (err, plane) {
            if (err) {
                return fatal(err);
            }
            initVM(plane);
        });
    }
    else {
        initVM({
            title: '',
            content: '',
            start_time: '',
            end_time: '',
        });
    }
});
</script>

{% endblock %}

{% block style %}{% endblock %}

{% block content %}
	<div class="uk-grid">
		<div class="uk-width-1-4"></div>

		<div class="uk-width-2-4">
        		<h3 style="text-align:center">创建学习计划</h3>
        		<form id="vm" v-on="submit: submit" class="uk-form uk-form-horizontal uk-form-stacked">
            			<div class="uk-alert uk-alert-danger uk-hidden"></div>

            			<div class="uk-form-row">
                			<label class="uk-form-label">计划标题:</label>
                			<div class="uk-form-controls">
                    			<input v-model="title" type="text" maxlength="50" placeholder="教程标题" class="uk-width-1-1">
                			</div>
            			</div>

            			<div class="uk-form-row">
                			<label class="uk-form-label">计划内容:</label>
                			<div class="uk-form-controls">
						<textarea v-model="content" cols="50" rows="5" placeholder="计划内容"></textarea>
                			</div>
            			</div>

            			<div class="uk-form-row">
                			<label class="uk-form-label">开始时间:</label>
                			<div class="uk-form-controls">
                    			<input v-model="start_time" maxlength="50" placeholder="输入开始时间" class="uk-width-1-1">
                			</div>
            			</div>

            			<div class="uk-form-row">
                			<label class="uk-form-label">结束时间:</label>
                			<div class="uk-form-controls">
                    				<input v-model="end_time" maxlength="50" placeholder="输入结束时间" class="uk-width-1-1">
                			</div>
            			</div>

            			<div class="uk-form-row">
                			<button type="submit" class="uk-button uk-button-primary"><i class="uk-icon-user"></i> 创建</button>
            			</div>
        		</form>

    		</div>

		<div class="uk-width-1-4"></div>
    </div>
{% endblock %}
