{% extends '__personal_base__.html' %}

{% block title %}教程信息修改{% endblock %}

{% block script %}
<script>
function initVM(data) {
	var all_video_type = data.all_video_type;
	var all_sub_type = data.all_sub_type;
	var video = data.video;
	var video_type = video.video_type;
	var sub_video_type = video.sub_video_type;
        var vm = new Vue({
                el: '#vm',
                data: data.video,
                methods: {
			type_change: function() {
				$('#sub_video_type').empty();
				var chose = $('#video_type').val();
				for(var i = 0; i < data.all_sub_type[chose].length; i++) {
					$('#sub_video_type').append("<option value="+data.all_sub_type[chose][i].sub_video_type+">"+
					data.all_sub_type[chose][i].sub_video_type_text+"</option>");
				}
			},
			submit: function(event) {
				event.preventDefault();
				var $form = $('#vm').find('form');
				$form.postJSON('/personal_post_video_edit/'+data.video.id, data.video, function (err, r) {
                   			if (err) {
                        			$form.showFormError(err);
                    			}
                    			else {
                        			//return location.assign('/personal_video_edit/' + r.id);
                        			return location.assign('/personal_video_manage/1');
                    			}
               			});
			}
                }
        });
	var vm2 = new Vue({
		el: '#vm2',
		data: {
			video: data.video
		},
		methods: {
		
		}
	});
	
	for(var i = 0; i < all_video_type.length; i++) {
		if(all_video_type[i].video_type == video_type) {
			$('#video_type').append("<option selected='selected' value="+all_video_type[i].video_type+">"+
			all_video_type[i].video_type_text+"</option>");
		}
		else {
			$('#video_type').append("<option value="+all_video_type[i].video_type+">"+
			all_video_type[i].video_type_text+"</option>");
		}
	}

	for(var i = 0; i < all_sub_type[video_type].length; i++) {
		if(all_sub_type[video_type][i].sub_video_type == sub_video_type) {
			$('#sub_video_type').append("<option selected='selected' value="+all_sub_type[video_type][i].sub_video_type+">"+
			all_sub_type[video_type][i].sub_video_type_text+"</option>");
		}
		else {
			$('#sub_video_type').append("<option value="+all_sub_type[video_type][i].sub_video_type+">"+
			all_sub_type[video_type][i].sub_video_type_text+"</option>");
		}
	}
};

$(function() {
    getJSON('/personal_get_video_edit/{{ parent_video_id  }}', function (err, results) {
        if (err) {
            return fatal(err);
        }
        initVM(results);
    });
});

</script>


{% endblock %}

{% block style %}{% endblock %}

{% block content %}
	<div class="uk-grid">
		<div class="uk-width-1-4"></div>

		<div class="uk-width-2-4">
        		<h3 style="text-align:center">上传教程</h3>
			<form id="vm2" class="uk-form uk-form-stacked" method="post" 
			v-attr="action:'/personal_post_pic_upload/'+video.id" enctype="multipart/form-data">
            			<div class="uk-form-row">
                			<label class="uk-form-label">上传封面图片:</label>
                			<div class="uk-form-controls">
                				<input type="file" name="test">
                				<button class="uk-button-primary" type="submit">上传</button>
                			</div>
            			</div>
        		</form>
			<div id="vm">
        		<form  v-on="submit: submit" class="uk-form uk-form-horizontal uk-form-stacked">
            			<div class="uk-alert uk-alert-danger uk-hidden"></div>
				
            			<div class="uk-form-row">
                			<label class="uk-form-label">教程封面图片:</label>
                			<div class="uk-form-controls">
						<img v-attr="src:pic_path" />
                			</div>
            			</div>

            			<div class="uk-form-row">
                			<label class="uk-form-label">教程名:</label>
                			<div class="uk-form-controls">
                    			<input v-model="name" type="text" maxlength="50" placeholder="教程名字" class="uk-width-1-1">
                			</div>
            			</div>

            			<div class="uk-form-row">
                			<label class="uk-form-label">教程类型:</label>
                			<div class="uk-form-controls">
                    				<select id="video_type" v-model="video_type" v-on="change:type_change()">
							<!--<option v-repeat="item:all_video_type" v-text="item.video_type_text" 
							v-attr="value:item.video_type"></option>-->
						</select>
                			</div>
            			</div>

            			<div class="uk-form-row">
                			<label class="uk-form-label">教程子类型:</label>
                			<div class="uk-form-controls">
                    				<select id="sub_video_type" v-model="sub_video_type">
						</select>
                			</div>
            			</div>

            			<div class="uk-form-row">
                			<label class="uk-form-label">教程价格:</label>
                			<div class="uk-form-controls">
                    			<input v-model="price"  maxlength="50" placeholder="输入价格" class="uk-width-1-1">
                			</div>
            			</div>

            			<div class="uk-form-row">
                			<label class="uk-form-label">教程节数:</label>
                			<div class="uk-form-controls">
                    				<input v-model="dir_num" maxlength="50" placeholder="填入数字" 
						class="uk-width-1-1">
                			</div>
            			</div>

            			<div class="uk-form-row">
                			<label class="uk-form-label">教程描述:</label>
                			<div class="uk-form-controls">
						<textarea v-model="describe" cols="50" rows="5" placeholder="教程描述"></textarea>
                			</div>
            			</div>
            			<div class="uk-form-row">
                			<button type="submit" class="uk-button uk-button-primary"><i class="uk-icon-save"></i> 保存</button>
					<a href="/personal_video_manage/1" class="uk-button uk-button-primary"><i class="uk-icon-times"></i> 取消</a>

            			</div>
        		</form>
			</div>

    		</div>

		<div class="uk-width-1-4"></div>
    </div>
{% endblock %}
