{% extends '__personal_base__.html' %}

{% block title %}创建教程{% endblock %}

{% block script %}{% endblock %}

{% block style %}{% endblock %}

{% block content %}
	<div class="uk-grid">
		<div class="uk-width-1-4"></div>

		<div class="uk-width-2-4">
        		<h3 style="text-align:center">上传教程</h3>
        		<form id="vm" v-on="submit: submit" class="uk-form uk-form-horizontal uk-form-stacked">
            			<div class="uk-alert uk-alert-danger uk-hidden"></div>

            			<div class="uk-form-row">
                			<label class="uk-form-label">教程名:</label>
                			<div class="uk-form-controls">
                    			<input v-model="name" type="text" maxlength="50" placeholder="教程名字" class="uk-width-1-1">
                			</div>
            			</div>

            			<div class="uk-form-row">
                			<label class="uk-form-label">教程类型:</label>
                			<div class="uk-form-controls">
                    				<select>
							<option>请选择类型</option>
						</select>
                			</div>
            			</div>

            			<div class="uk-form-row">
                			<label class="uk-form-label">教程子类型:</label>
                			<div class="uk-form-controls">
                    				<select>
							<option>请选择子类型</option>
						</select>
                			</div>
            			</div>

            			<div class="uk-form-row">
                			<label class="uk-form-label">教程价格:</label>
                			<div class="uk-form-controls">
                    			<input v-model="password1" type="password" maxlength="50" placeholder="输入价格" class="uk-width-1-1">
                			</div>
            			</div>

            			<div class="uk-form-row">
                			<label class="uk-form-label">教程封面:</label>
                			<div class="uk-form-controls">
                    				<input v-model="password2" type="password" maxlength="50" placeholder="图片上传" 
						class="uk-width-1-1">
                			</div>
            			</div>

            			<div class="uk-form-row">
                			<label class="uk-form-label">教程节数:</label>
                			<div class="uk-form-controls">
                    				<input v-model="password2" type="password" maxlength="50" placeholder="填入数字" 
						class="uk-width-1-1">
                			</div>
            			</div>

            			<div class="uk-form-row">
                			<label class="uk-form-label">教程描述:</label>
                			<div class="uk-form-controls">
						<textarea cols="50" rows="5" placeholder="教程描述"></textarea>
                			</div>
            			</div>
            			<div class="uk-form-row">
                			<button type="submit" class="uk-button uk-button-primary"><i class="uk-icon-user"></i> 提交</button>
            			</div>
        		</form>

    		</div>

		<div class="uk-width-1-4"></div>
    </div>
{% endblock %}
