{% extends '__personal_base__.html' %}

{% block title %}拥有教程{% endblock %}

{% block script %}
<script>
function initVM(data) {
    var vm = new Vue({
        el: '#vm',
        data: {
            videos: data.videos,
            page: data.page
        },
        methods: {

        }
    });
    $('#vm').show();
}

$(function() {
    getJSON('/personal_get_video_owe', {
        page: {{ page_index }},
        user_id : '{{ __user__.id }}'
    }, function (err, results) {
        if (err) {
            return fatal(err);
        }
        initVM(results);
    });
});
</script>
{% endblock %}

{% block style %}{% endblock %}

{% block content %}
	<div id="vm" class="uk-width-1-1">
        <table class="uk-table uk-table-hover">
            <thead>
                <tr>
                    <th class="uk-width-2-10">教程名</th>
                    <th class="uk-width-2-10">教程节数</th>
                    <th class="uk-width-1-10">学习进度</th>
                    <th class="uk-width-1-10">价格</th>
                    <th class="uk-width-2-10">开始拥有时间</th>
                    <th class="uk-width-2-10">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr v-repeat="video: videos" >
                    <td>
                        <span v-text="video.name"></span>
                    </td>
                    <td>
                        <span v-text="video.dir_num"></span>
                    </td>
                    <td>
                        <span v-text="video.video_progress"></span>
                    </td>
                    <td>
                        <span v-text="video.price"></span>
                    </td>
                    <td>
                        <span v-text="video.created_at.toDateTime()"></span>
                    </td>
                    <td>
                        <a class="uk-button uk-button-primary" v-attr="href:'/detail_lesson/'+video.id">查看</a>
                    </td>
                </tr>
            </tbody>
        </table>

        <div v-component="pagination" v-with="page"></div>
    </div>
{% endblock %}
