<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="../static/css/uikit.min.css">
<link rel="stylesheet" href="../static/css/uikit.gradient.min.css">
<link rel="stylesheet" href="../static/css/my.css">
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/sha1.min.js"></script>
<script src="../static/js/uikit.min.js"></script>
<script src="../static/js/sticky.min.js"></script>
<script src="../static/js/vue.min.js"></script>
</head>
<body>
	<div class="uk-button-dropdown" data-uk-dropdown="">
                                    <button class="uk-button">鼠标来悬停我呀 <i class="uk-icon-caret-down"></i></button>
                                    <div style="" class="uk-dropdown">
                                        <ul class="uk-nav uk-nav-dropdown">
                                            <li><a href="#">Item</a></li>
                                            <li><a href="#">Another item</a></li>
                                            <li class="uk-nav-header">Header</li>
                                            <li><a href="#">Item</a></li>
                                            <li><a href="#">Another item</a></li>
                                            <li class="uk-nav-divider"></li>
                                            <li><a href="#">Separated item</a></li>
                                        </ul>
                                    </div>
                                </div>



<!--    -->

			<div style="border:1px solid #DDDDDD; height:50px">

                                <nav class="uk-nav">
                                    <a class="uk-navbar-brand" href="#"><i class="uk-icon-book"></i>全部课程</a>
                                    <div class="uk-navbar-content"><a>首页</a></div>
                                    <div class="uk-navbar-content"><a>课程体系</a></div>
                                    <div class="uk-navbar-content"><a>微专业</a></div>
                                    <div class="uk-navbar-content"><a>个人中心</a></div>
				   
                                    <div class="uk-navbar-content uk-navbar-flip uk-hidden-small">
                                        <form class="uk-form uk-margin-remove uk-display-inline-block">
                                            <input placeholder="Search" type="text">
                                            <button class="uk-button uk-button-primary">Submit</button>
                                        </form>
                                    </div>
                                </nav>

                       </div>


<ul class="uk-description-list-horizontal">
    <li>.i.dskjd.</li>
    <li>.dd..</li>
</ul>




<!-- This is a div as a thumbnail with a caption -->
<div class="uk-thumbnail">
    <img src="../static/src/test.png" alt="">
    <div class="uk-thumbnail-caption">...</div>
</div>

<!-- This is an anchor as a thumbnail with a caption -->
<a class="uk-thumbnail" href="">
    <img src="../static/src/test.png" alt="">
    <div class="uk-thumbnail-caption" style="text-align:left">
	<div style="font-size:15px">Execl的表格之道</div>
	<div style="font-size:10px">向前</div>
    </div>
</a>

<!-- This is a figure as a thumbnail with a caption -->
<figure class="uk-thumbnail">
    <img src="../static/src/test.png" alt="">
    <figcaption class="uk-thumbnail-caption">...</figcaption>
</figure>





<div align="left">xdfhsdfhsdfj <span style="float:right">sdfjsfjhnqaetj</span></div>


<ul class="uk-tab uk-width-medium-7-10" data-uk-tab="" data-uk-switcher="{connect:'#subnav-pill-content-1'}">
                                    <li aria-expanded="true" class="uk-active"><a href="#">全部</a></li>
                                    <li aria-expanded="false" class=""><a href="#">IT互联网</a></li>
                                    <li class="" aria-expanded="false"><a href="#">职场技能</a></li>
                                    <li class="" aria-expanded="false"><a href="#">语言学习</a></li>
                                    <li class="" aria-expanded="false"><a href="#">兴趣爱好</a></li>
                                    <li class="" aria-expanded="false"><a href="#">更多分类</a></li>
</ul>


<ul class="uk-subnav uk-subnav-pill" data-uk-switcher="{connect:'#subnav-pill-content-1'}">
                                <li aria-expanded="false" class=""><a href="#">Item</a></li>
                                <li class="" aria-expanded="false"><a href="#">Item</a></li>
                                <li class="uk-active" aria-expanded="true"><a href="#">Item</a></li>
                            </ul>

<ul id="subnav-pill-content-1" class="uk-switcher">
                                <li aria-hidden="true" class="">Hello!</li>
                                <li class="" aria-hidden="true">Hello again!</li>
                                <li class="uk-active" aria-hidden="false">Bazinga!</li>
                            </ul>




<div class="uk-grid uk-grid-divider" data-uk-grid-match="">
                                <div style="min-height: 120px;" class="uk-width-medium-1-3">Lorem ipsum dolor sit amet.</div>
                                <div style="min-height: 120px;" class="uk-width-medium-1-3">Lorem ipsum dolor sit amet.</div>
                                <div style="min-height: 120px;" class="uk-width-medium-1-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</div>
                            </div>
</body>
</html>
