<html>
<head>
<meta charset="utf-8">
<title>视频观看学习</title>
<link rel="stylesheet" href="../static/css/uikit.min.css">
<link rel="stylesheet" href="../static/css/uikit.gradient.min.css">
<link rel="stylesheet" href="../static/css/my.css">
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/sha1.min.js"></script>
<script src="../static/js/uikit.min.js"></script>
<script src="../static/js/sticky.min.js"></script>
<script src="../static/js/vue.min.js"></script>
<script src="../static/js/my.js"></script>
<style type="text/css">
.video_background {
	background-color:gray;
}

.margin_left {
	margin-left:150px;
}

.ul3_class {
        margin:0px;
        padding:0px;
}

.ul3_class li {
        line-height:35px;
        text-align:left;
        list-style-type:none;
        font-size:13px;
}

.ul3_class li a {
	color:#FFFFFF;
}

.ul3_class li:hover {
        background-color:#C0C0C0;
}

.ul4_class {
        margin:0px;
        padding:0px;
}

.ul4_class li {
        line-height:20px;
        text-align:left;
        list-style-type:none;
        font-size:13px;
}
</style>

<script>
$(function() {
	//alert('haha');
	var vm = new Vue({
		el: '#vm',
		data: {

		},
		methods: {
			submit_comment: function() {
				postJSON('/submit_comment/{{ sub_video.id }}',{'content': $('#content').val()}, function (err, r) {
                                        if (err) {
                                                return alert(err.message || err.error || err);
                                        }
                                        alert("评论成功");
                                });
                        },  
			pre_video: function() {
				postJSON('/pre_video/{{ video.id }},{{ sub_video.num }}', function (err, r) {
                                        if (err) {
                                                return alert(err.message || err.error || err);
                                        }
					var num = parseInt('{{ sub_video.num }}') - 1;
                                        location.assign('/video/{{ video.id }},'+num);
                                });
                        },  
			next_video: function() {
				postJSON('/next_video/{{ video.id }},{{ sub_video.num }},{{ video.dir_num }}', function (err, r) {
                                        if (err) {
                                                return alert(err.message || err.error || err);
                                        }
					var num = parseInt('{{ sub_video.num }}') + 1;
                                        location.assign('/video/{{ video.id }},'+num);
                                });
                        },  
		}
	});
})
</script>
</head>
<body>
<div id="vm" class="uk-grid uk-grid-collapse" style="height:100%;">
	<div class="uk-width-4-5 video_background">
		<div style="margin:20px;">
			<video width="100%" controls="controls">  
        			<source src={{sub_video.video_path}} type="video/mp4" >{{sub_video.title}}</source>  
        			<!--<source src="../static/vedio/movie2.ogg" type="video/ogg" >示例视频2</source>-->  
        			您的浏览器不支持video标签  
    			</video>
		</div>
		
		<div style="text-align:center">
			<a href="/" class="uk-button uk-button-primary margin_left"><i class="uk-icon-home"></i>返回主页面</a>
			<a v-on="click: pre_video()" class="uk-button uk-button-success margin_left">
			<i class="uk-icon-angle-double-left"></i>上一节</a>
			<a v-on="click: next_video()" class="uk-button uk-button-success margin_left">
			<i class="uk-icon-angle-double-right"></i>下一节</a>
			<a  v-on="click: next_video()" class="uk-button uk-button-success margin_left"><i class="uk-icon-check"></i>学完了</a>
		</div>

	</div>
	<div class="uk-width-1-5 video_background" style="padding-top:20px">
		<div style="color:#FFFFFF">
			<p>
			《{{ video.name }}》第{{ sub_video.num }}节{{ sub_video.title}}
			</p>
			<p>
			发布者：{{ video.user_name }}
			</p>
		</div>
		<hr />
		<div style="color:#FFFFFF">
			<!--
			<div class="uk-grid" style="text-align:center">
				<div class="uk-width-1-2"><a class="uk-button uk-button-primary">讨论</a></div>
				<div class="uk-width-1-2"><a class="uk-button uk-button-primary">目录</a></div>
			</div>
			<hr />
			-->
			<div>
				<p>目录</p>
				<div>
					<ul class="ul3_class">
                                                {% for catalog in sub_videos  %}
                                                        <li><a href="/video/{{ video.id }},{{ catalog.num }}">
                                                        第{{ catalog.num }}节：{{ catalog.title }}</a></li>
                                                {% endfor %}
                                        </ul>	
				</div>	
			</div>
			<hr />
			<div id="discuss">
				<div>
					<p>评论区</p>
					<div style="text-align:right">
						<textarea id='content' class="uk-width-1-1" style="height:70px"></textarea>
						<a v-on="click: submit_comment()" class="uk-button uk-button-success">提交评论</a>
					</div>
				</div>
				<div>
                        		<ul class="ul4_class">
					{% if comments %}
						{% for comment in comments %}
                        				<li>
								<div>{{ comment.user_name}} {{ comment.created_at|datetime }}</div>
								<div>{{ comment.content }}</div>
								<hr />
							</li>
						{% endfor %}
					{% else %}
						<li>暂无评论<li>
					{% endif %}
                        		</ul>
				</div>
			</div>
		</div>
	</div>
<div>
<!--
<video width="320" height="240" controls>
 兼容 Firefox
<source src="http://www.jb51.net/ movie.ogg" type="video/ogg" />
 兼容 Safari/Chrome
<source src="http://www.jb51.net/ movie.mp4" type="video/mp4" />
如果浏览器不支持video标签，则使用flash
<embed src="http://www.jb51.net/ movie.swf" type="application/x-shockwave-flash"
width="320" height="240" allowscriptaccess="always" allowfullscreen="true"></embed>
</video> 
-->
</body>
